<div id="preview" class="vertical">
  <div class="inner" *ngIf="apiResult" >
      <div class="image fit" *ngFor="let input of inputs; let i = index">
        <img src="{{'images/pics0'+(i)+'.jpg'}}" alt="" />
      </div>
    </div>
  <div class="inner">
    <div class="content">
      <header class="detect-center">
        <h2>FACE ANALYZE</h2>
        <p>Upload up to 4 faces and let's analyze them!</p>
        <div *ngFor="let input of inputs">
          <input type="url" [(ngModel)]="input.value" type="text" [placeholder]="placeholder">
        </div>
        <button (click)="addInput()">Add Input</button>
        <button (click)="send(inputs)">Send</button>
      </header>
    </div>
  </div>
  <div class="inner result" *ngIf="apiResult">
    <div class="content" *ngFor="let input of inputs; let iterator = index">
      <p>
        gender: {{ apiResult.faces[iterator].attributes.gender.value }}<br>
        age: {{ apiResult.faces[iterator].attributes.age.value }}<br>
        glass: {{ apiResult.faces[iterator].attributes.glass.value }}<br>
        smile: {{ ((apiResult.faces[iterator].attributes.smile.value > apiResult.faces[iterator].attributes.smile.threshold)?'Yes':'No') }}<br>
      </p>
    </div>
  </div>
</div>
