<main class="container">
    <div class="menu-wrap">
    	<nav class="menu-top">
        <div class="profile"><span>ANGULAR FACES</span></div>
    		<div class="icon-list">
    			<a href="#"><i class="fa fa-fw fa-star-o"></i></a>
    			<a href="#"><i class="fa fa-fw fa-bell-o"></i></a>
    			<a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
    			<a href="#"><i class="fa fa-fw fa-comment-o"></i></a>
    		</div>
    	</nav>
    	<nav class="menu-side">
    		<a routerLink="/" [routerLinkActive]="['active']">Home</a>
    		<a routerLink="detect" [routerLinkActive]="['active']">Detect</a>
    		<a routerLink="compare" [routerLinkActive]="['active']">Compare</a>
    		<a routerLink="search" [routerLinkActive]="['active']">Search</a>
    		<a routerLink="faceset/list" [routerLinkActive]="['active']">List</a>
    		<a routerLink="faceset/create" [routerLinkActive]="['active']">Create</a>
    		<a routerLink="faceset/addface" [routerLinkActive]="['active']">Add Face</a>
    		<a routerLink="faceset/remove" [routerLinkActive]="['active']">Remove Face</a>
    		<a routerLink="faceset/update" [routerLinkActive]="['active']">Update</a>
    		<a routerLink="face/details" [routerLinkActive]="['active']">Details</a>
    		<a routerLink="faceset/delete" [routerLinkActive]="['active']">Delete</a>
    		<a routerLink="face/analyze" [routerLinkActive]="['active']">Analyze</a>
    		<a routerLink="face/set-user-id" [routerLinkActive]="['active']">Set user id</a>
        <a routerLink="/" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</a>
        <a routerLink="/" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</a>
    	</nav>
    </div>
    <div class="content-wrap">
      <!-- Header -->
      <header *ngIf="!auth.isAuthenticated()" id="header">
        <div class="inner">
          <div class="content">
            <h1>Angular Faces</h1>
            <a (click)="auth.login()" class="button big alt"><span>Log In</span></a>
          </div>
          <a href="#" class="button hidden"><span>Log In</span></a>
        </div>
      </header>

      <header *ngIf="auth.isAuthenticated()" id="header" class="hide">
        <div class="inner">
          <div class="content">
            <h1>Angular Faces</h1>
            <h2></h2>
            <a (click)="home" class="button big alt"><span>take a picture</span></a>
          </div>
          <a (click)="home" class="button hidden"><span>take your picture</span></a>
        </div>
      </header>
      <router-outlet *ngIf="auth.isAuthenticated()"></router-outlet>
    </div>

    <script src="assets/js/util.js"></script>
  	<script src="assets/js/main.js"></script>
</main>
