<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular Faces</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="detect">Detect</a></li>
                <li><a routerLink="compare">Compare</a></li>
                <li><a routerLink="search">Search</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faceset <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">List</a></li>
                        <li><a href="#">Create</a></li>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Remove</a></li>
                        <li><a href="#">Update</a></li>
                        <li><a href="#">Details</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Face <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Analyze</a></li>
                        <li><a href="#">Details</a></li>
                        <li><a href="#">Set user id</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</a></li>
            <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<main class="container">
    <router-outlet></router-outlet>
</main>
